@charset "UTF-8";

//// Drawer

#drawer {
  background-color: transparent;

  &.is-visible {
    background-color: #FFFFFF;
  }

  .mdl-navigation {
    padding: 0;
  }

  .mdl-navigation a.mdl-navigation__link {
    padding-right: 0;
  }

  .mdl-navigation a.mdl-navigation__link {
    padding-top: 12px;
    padding-bottom: 12px;
  }

  .mdlext-accordion {
    height: 100%;

    &__panel {

      &:first-child .mdlext-accordion__tab {
        height: $layout-desktop-header-height;
        min-height: $layout-desktop-header-height;
        min-width: $layout-desktop-header-height;

        &__caption {
          font-size: 20px;
        }
      }
      &__tab {
        &__caption {
          font-size: 16px;
        }
      }
      .mdlext-accordion__tabpanel {
        padding: 0;
      }
    }
  }

}

.is-small-screen #drawer .mdlext-accordion__panel:first-child .mdlext-accordion__tab {
  height: 56px;
  min-height: 56px;
  min-width: 56px;
}
