@charset "UTF-8";

// Get rid og MDL "unquote" hell
$app-color-primary:          #2196F3;
$app-color-primary-dark:     #1976D2;
$app-color-primary-contrast: #FFFFFF;
$app-color-accent:           #607D8B;
$app-color-accent-contrast:  #FFFFFF;

$app-text-color-primary:     rgba(#000000, 0.87) !default; // text color on content (paper/card) background
$app-text-color-secondary:   rgba(#000000, 0.54) !default; // text color on content (paper/card) background
$app-text-color-disabled:    rgba(#000000, 0.38) !default; // disabled text, hint text, and icons
$app-divider-color:          rgba(#000000, 0.12) !default; // -> $card-border-color
$app-error-color:            rgb(213, 0, 0) !default;


/* -----------------------------------------------
 * Override Material Design Lite variables
 * ----------------------------------------------- */

/* ==========  TYPOGRAPHY  ========== */
/* We're splitting fonts into "preferred" and "performance" in order to optimize
   page loading. For important text, such as the body, we want it to load
   immediately and not wait for the web font load, whereas for other sections,
   such as headers and titles, we're OK with things taking a bit longer to load.
   We do have some optional classes and parameters in the mixins, in case you
   definitely want to make sure you're using the preferred font and don't mind
   the performance hit.
   We should be able to improve on this once CSS Font Loading L3 becomes more
   widely available.
*/
$preferred_font: 'Roboto', 'Helvetica', 'Arial', sans-serif;
$performance_font: 'Helvetica', 'Arial', sans-serif;

/* ==========  IMAGES  ========== */

/* ==========  Color & Themes  ========== */
$color-primary:          hex-to-rgb-string($app-color-primary);
$color-primary-dark:     hex-to-rgb-string($app-color-primary-dark);
$color-primary-contrast: hex-to-rgb-string($app-color-primary-contrast);
$color-accent:           hex-to-rgb-string($app-color-accent);
$color-accent-contrast:  hex-to-rgb-string($app-color-accent-contrast);


/* ==========  Typography  ========== */
// We use the following default color styles: text-color-primary and
// text-color-secondary. For light themes, use text-color-primary-inverse
// and text-color-secondary-inverse.
$text-color-primary: $app-text-color-primary;
$text-link-color: $app-color-accent;


/* ==========  Components  ========== */

/* ==========  Standard Buttons  ========== */

/* ==========  Icon Toggles  ========== */
$icon-toggle-checked-color: $app-color-accent;
$icon-toggle-checked-focus-color: rgba($app-color-accent, 0.26);

/* ==========  Radio Buttons  ========== */
$radio-color: $app-color-accent;

/* ==========  Ripple effect  ========== */


/* ==========  Layout  ========== */

// Drawer
$layout-drawer-navigation-link-active-background: rgba(0, 0, 0, 0.25);
$layout-drawer-navigation-link-active-color: $app-color-primary-dark;

// Header
$layout-header-text-color: rgba(0, 0, 0, 0.9);


/* ==========  Content Tabs  ========== */

/* ==========  Checkboxes  ========== */
$checkbox-color: $app-color-accent;
$checkbox-focus-color: rgba($app-color-accent, 0.26);

/* ==========  Switches  ========== */
$switch-color: $app-color-accent;
$switch-faded-color: rgba($app-color-accent, 0.26);
$switch-thumb-color: $switch-color;
$switch-track-color: rgba($app-color-accent, 0.5);


/* ==========  Spinner  ========== */

/* ==========  Text fields  ========== */
$input-text-highlight-color: $app-color-accent;

/* ==========  Card  ========== */
$card-image-placeholder-color: rgba(255, 255, 255, 0);

// $card-text-color is only applied to .mdl-card__title.
// Other text colors are inherited

/* ==========  Sliders ========== */
$range-color: $app-color-accent;
$range-faded-color: rgba($app-color-accent, 0.26);

/* ========== Progress ========== */
$progress-main-color: $app-color-accent;
$progress-secondary-color: rgba($app-color-accent-contrast, 0.7);
$progress-fallback-buffer-color: rgba($app-color-accent-contrast, 0.9);

/* ==========  List ========== */

/* ==========  Item ========== */

// Default Item Colors

/* ==========  Dropdown menu ========== */


/* ==========  Tooltips  ========== */
$tooltip-background-color: rgba(#353535, 0.9);

/* ==========  Footer  ========== */

/* TEXTFIELD */

/* SWITCH */

/* SPINNER */

/* RADIO */

/* MENU */

/* LIST */
$list-border: 0;
$list-bottom-padding: 16px;
$list-avatar-text-left-distance: 64px;
$list-icon-text-left-distance: 56px;
$list-avatar-size: 32px;
$list-two-line-height: 64px;

/* LAYOUT */
$layout-header-desktop-indent: 16px;

/* ICON TOGGLE */

/* FOOTER */


/* CHECKBOX */
$checkbox-button-size: 18px;

/* CARD */
/* Card dimensions */
$card-height: auto;
$card-width: auto;
$card-title-font-size: 24px;
$card-title-text-font-weight: 400;
$card-vertical-padding: 20px;

/* BUTTON */
$button-font-weigth: 400;

/* ANIMATION */

/* PROGRESS */

/* BADGE */

/* SHADOWS */

/* GRID */
$grid-desktop-gutter: 6px;
$grid-desktop-margin: 6px;

$grid-tablet-gutter: 4px;
$grid-tablet-margin: 4px;

$grid-phone-gutter: 2px;
$grid-phone-margin: 2px;

/* DATA TABLE */
$data-table-column-spacing: 16px;

/* DIALOG */

/* SNACKBAR */

/* TOOLTIP */
$tooltip-font-size: 12px;


// -----------------------------------------------
// Override Bordered fields variables.
// -----------------------------------------------


// -----------------------------------------------
// Override Color Themes variables
// -----------------------------------------------
$mdlext-light-color-primary:          #9E9E9E;
$mdlext-light-color-primary-dark:     #616161;
$mdlext-light-color-primary-light:    #9E9E9E;  // Fallback color. Set to color-primary if fallback is not needed
$mdlext-light-color-primary-contrast: #F5F5F5;  // text color on primary/primary dark background
$mdlext-light-color-accent:           #FF5722;
$mdlext-light-color-accent-light:     #FF5722;  // Fallback color. Set to color-accent if fallback is not needed
$mdlext-light-color-accent-contrast:  #FFFFFF;


$mdlext-dark-color-primary:           #212121;
$mdlext-dark-color-primary-dark:      #000000;
$mdlext-dark-color-primary-light:     rgb(30,136,229);  // Fallback color. Set to color-primary if fallback is not needed
$mdlext-dark-color-primary-contrast:  #FFFFFF;  // text color on primary/primary dark background
$mdlext-dark-color-accent:            #FFC107;
$mdlext-dark-color-accent-light:      #FFC107;  // Fallback color. Set to color-accent if fallback is not needed
$mdlext-dark-color-accent-contrast:   #FFFFFF;
